body {
  margin:0px;
  background-image:url('../../images/landing_page/bg.jpg');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-size:cover;
  position:static;
  left:auto;
  width:549px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u333_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:591px;
  background:-webkit-linear-gradient(270deg, rgba(0, 204, 255, 1) 0%, rgba(0, 204, 255, 1) 0%, rgba(102, 255, 204, 1) 71%, rgba(102, 255, 204, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(0, 204, 255, 1) 0%, rgba(0, 204, 255, 1) 0%, rgba(102, 255, 204, 1) 71%, rgba(102, 255, 204, 1) 100%);
  background:linear-gradient(180deg, rgba(0, 204, 255, 1) 0%, rgba(0, 204, 255, 1) 0%, rgba(102, 255, 204, 1) 71%, rgba(102, 255, 204, 1) 100%);
  border:none;
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u333 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:34px;
  width:294px;
  height:591px;
}
#u333_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u335_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:446px;
  height:649px;
}
#u335 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:5px;
  width:446px;
  height:649px;
  font-family:'Arial Unicode MS Regular', 'Arial Unicode MS';
  font-weight:400;
  font-style:normal;
}
#u335_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u336_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yu Gothic UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u336 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:43px;
  width:22px;
  height:14px;
  font-family:'Yu Gothic UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u336_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u337_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:10px;
}
#u337 {
  border-width:0px;
  position:absolute;
  left:231px;
  top:46px;
  width:11px;
  height:10px;
  color:#FFFFFF;
}
#u337_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u338_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:9px;
}
#u338 {
  border-width:0px;
  position:absolute;
  left:406px;
  top:47px;
  width:12px;
  height:9px;
  font-family:'Arial Unicode MS Regular', 'Arial Unicode MS';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u338_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u339_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:9px;
}
#u339 {
  border-width:0px;
  position:absolute;
  left:421px;
  top:47px;
  width:12px;
  height:9px;
  font-family:'Arial Unicode MS Regular', 'Arial Unicode MS';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u339_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u340_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:8px;
}
#u340 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:48px;
  width:15px;
  height:8px;
  font-family:'Arial Unicode MS Regular', 'Arial Unicode MS';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u340_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u341 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u342_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:92px;
}
#u342 {
  border-width:0px;
  position:absolute;
  left:282px;
  top:72px;
  width:92px;
  height:92px;
  font-size:7px;
}
#u342_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u343_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:75px;
}
#u343 {
  border-width:0px;
  position:absolute;
  left:292px;
  top:82px;
  width:75px;
  height:75px;
}
#u343_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u344_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Malgun Gothic';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u344 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:417px;
  width:75px;
  height:15px;
  font-family:'Malgun Gothic';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u344_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u345 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:186px;
  width:255px;
  height:25px;
}
#u345_input {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:25px;
  background-color:#F4F4F4;
  font-family:'Maiandra GD';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u346 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:241px;
  width:255px;
  height:24px;
}
#u346_input {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:24px;
  background-color:rgba(255, 255, 255, 0.647058823529412);
  font-family:'Maiandra GD';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u347 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:293px;
  width:255px;
  height:28px;
}
#u347_input {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:28px;
  background-color:rgba(255, 255, 255, 0.647058823529412);
  font-family:'Maiandra GD';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u348_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Maiandra GD';
  font-weight:400;
  font-style:normal;
}
#u348 {
  border-width:0px;
  position:absolute;
  left:199px;
  top:220px;
  width:35px;
  height:16px;
  font-family:'Maiandra GD';
  font-weight:400;
  font-style:normal;
}
#u348_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u349_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Maiandra GD';
  font-weight:400;
  font-style:normal;
}
#u349 {
  border-width:0px;
  position:absolute;
  left:199px;
  top:273px;
  width:59px;
  height:16px;
  font-family:'Maiandra GD';
  font-weight:400;
  font-style:normal;
}
#u349_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u350_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Maiandra GD';
  font-weight:400;
  font-style:normal;
}
#u350 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:164px;
  width:65px;
  height:16px;
  font-family:'Maiandra GD';
  font-weight:400;
  font-style:normal;
}
#u350_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u351 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:352px;
  width:255px;
  height:57px;
}
#u351_input {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:57px;
  font-family:'Maiandra GD';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u352_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Maiandra GD';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u352 {
  border-width:0px;
  position:absolute;
  left:199px;
  top:332px;
  width:48px;
  height:15px;
  font-family:'Maiandra GD';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u352_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u353 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:496px;
  width:257px;
  height:24px;
}
#u353_input {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:24px;
  background-color:rgba(255, 255, 255, 0.647058823529412);
  font-family:'Maiandra GD';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u354 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:443px;
  width:69px;
  height:21px;
}
#u354_input {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:21px;
  font-family:'Maiandra GD';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
}
#u354_input:disabled {
  color:grayText;
}
#u355 {
  border-width:0px;
  position:absolute;
  left:289px;
  top:444px;
  width:78px;
  height:21px;
}
#u355_input {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:21px;
  font-family:'Maiandra GD';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
}
#u355_input:disabled {
  color:grayText;
}
#u356 {
  border-width:0px;
  position:absolute;
  left:384px;
  top:445px;
  width:71px;
  height:21px;
}
#u356_input {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:21px;
  font-family:'Maiandra GD';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
}
#u356_input:disabled {
  color:grayText;
}
#u357_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Maiandra GD';
  font-weight:400;
  font-style:normal;
}
#u357 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:471px;
  width:95px;
  height:16px;
  font-family:'Maiandra GD';
  font-weight:400;
  font-style:normal;
}
#u357_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u358 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u359_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
}
#u359 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:544px;
  width:50px;
  height:40px;
}
#u359_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u360_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
}
#u360 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:584px;
  width:58px;
  height:12px;
  font-size:9px;
}
#u360_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
